<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983891546142-r8v2c5o6iurvejuh8j8fdpesh6iinemm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983891546142-r8v2c5o6iurvejuh8j8fdpesh6iinemm</string>
	<key>API_KEY</key>
	<string>AIzaSyDOwaBn4SEUem_mqofLWStvfVxePUfKky0</string>
	<key>GCM_SENDER_ID</key>
	<string>983891546142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>hermes-b69e6</string>
	<key>STORAGE_BUCKET</key>
	<string>hermes-b69e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983891546142:ios:202b7ee9d737ad88991e0f</string>
</dict>
</plist>